<ng-container *ngIf="!tooltip; else hasTooltip">
  <clr-icon
    [style]="iconStyle != '' ? iconStyle : null"
    [shape]="shape"
    [size]="size"
    [direction]="direction"
    [flip]="flip"
    [solid]="isSolid ? true: null"
    [status]="status"
    [inverse]="isInverse ? true: null"
    [badge]="badge"
    [attr.aria-label]="label"
  ></clr-icon>
</ng-container>

<ng-template #hasTooltip>
  <a href="javascript:void(0)" role="tooltip" aria-haspopup="true" class="{{ tooltipClass }}">
    <clr-icon
      [style]="iconStyle != '' ? iconStyle : null"
      [shape]="shape"
      [size]="size"
      [direction]="direction"
      [flip]="flip"
      [solid]="isSolid ? true: null"
      [status]="status"
      [inverse]="isInverse ? true: null"
      [badge]="badge"
      [attr.aria-label]="label"
    ></clr-icon>
    <span class="tooltip-content">{{ tooltip.message }}</span>
  </a>
</ng-template>
