<div class="editor-container">
  <div class="editor">
    <ngx-monaco-editor
      [(ngModel)]="value"
      [options]="options"
      [attr.modelUri]="uri"
    ></ngx-monaco-editor>
  </div>

  <div class="controls">
    <div class="select-wrapper">
      <app-view-select-file  *ngIf="!metadata" [view]= "selectFileView" (fileChanged)="inputFileChanged($event)"></app-view-select-file>
    </div>
    <button
      type="button"
      class="btn btn-outline btn-sm"
      (click)="reset()"
      [disabled]="!isModified"
    >
      Reset
    </button>
    <button
      type="button"
      class="btn btn-outline btn-sm"
      (click)="submit()"
      [disabled]="isUpdateEnabled()"
    >
      {{ submitLabel }}
    </button>
  </div>
</div>
