<ng-container *ngFor="let field of form?.fields; trackBy: trackByFn">
  <ng-container *ngIf="field.config.type ==='layout'; else withoutLayout ">
    <div class="horizontal-layout">
      <h6 *ngIf="field.config.label" slot="label">{{ field.config.label }}</h6>
      <ng-container *ngFor="let f of field.config.configuration.fields; trackBy: trackByFn">
        <ng-container *ngTemplateOutlet="formInputs; context: { field: f }"></ng-container>
      </ng-container>
    </div>
  </ng-container>
  <ng-template #withoutLayout>
    <ng-container *ngTemplateOutlet="formInputs; context: { field: field }"></ng-container>
  </ng-template>
</ng-container>

<ng-template #formInputs let-field="field">
  <ng-container *ngIf="formGroupContainer" [formGroup]="formGroupContainer" [ngSwitch]="field?.config?.type">

    <ng-container *ngSwitchCase="'checkbox'">
      <clr-checkbox-container [style.width.%]="field.config.width">
        <label>{{ field.config.label }}</label>
        <clr-checkbox-wrapper *ngFor="let opt of fieldChoices(field); trackBy: trackByFn">
          <input
            type="checkbox"
            clrCheckbox
            [formArrayName]="field.config.name"
            [value]="opt.value"
            [checked]="opt.checked"
            (change)="onCheck($event, field.config.name)"
          />
          <label>{{ opt.label }}</label>
        </clr-checkbox-wrapper>
        <clr-control-error *ngIf="isInvalid(field.config.name)">{{ field.config.error }}</clr-control-error>
      </clr-checkbox-container>
    </ng-container>

    <ng-container *ngSwitchCase="'radio'">
      <clr-radio-container>
        <label>{{ field.config.label }}</label>
        <clr-radio-wrapper *ngFor="let opt of fieldChoices(field); trackBy: trackByFn">
          <input
            type="radio"
            clrRadio
            [attr.name]="field.config.name"
            [formArrayName]="field.config.name"
            [value]="opt.value"
            [checked]="opt.checked"
            (change)="onCheck($event, field.config.name)"
          />
          <label>{{ opt.label }}</label>
        </clr-radio-wrapper>
        <clr-control-error *ngIf="isInvalid(field.config.name)">{{ field.config.error }}</clr-control-error>
      </clr-radio-container>
    </ng-container>

    <ng-container *ngSwitchCase="'text'">
      <clr-input-container [style.width.%]="field.config.width">
        <label>{{ field.config.label }}</label>
        <input
          type="text"
          clrInput
          [formControlName]="field.config.name"
          [placeholder]="field.config.placeholder ? field.config.placeholder : ''"
        />
        <clr-control-error *ngIf="isInvalid(field.config.name)">{{ field.config.error }}</clr-control-error>
      </clr-input-container>
    </ng-container>

    <ng-container *ngSwitchCase="'number'">
      <clr-input-container [style.width.%]="field.config.width">
        <label>{{ field.config.label }}</label>
        <input
          type="number"
          clrInput
          [formControlName]="field.config.name"
        />
        <clr-control-error *ngIf="isInvalid(field.config.name)">{{ field.config.error }}</clr-control-error>
      </clr-input-container>
    </ng-container>

    <ng-container *ngSwitchCase="'password'">
      <clr-input-container [style.width.%]="field.config.width">
        <label>{{ field.config.label }}</label>
        <input
          type="password"
          clrInput
          [formControlName]="field.config.name"
        />
        <clr-control-error *ngIf="isInvalid(field.config.name)">{{ field.config.error }}</clr-control-error>
      </clr-input-container>
    </ng-container>

    <ng-container *ngSwitchCase="'select'">
      <clr-select-container [style.width.%]="field.config.width">
        <label>{{ field.config.label }}</label>
        <select
          clrSelect
          [formArrayName]="field.config.name"
          [attr.multiple]="field.config.configuration.multiple"
          (change)="onSelect($event, field.config.name)"
        >
          <option
            *ngFor="let opt of fieldChoices(field); trackBy: trackByFn"
            [value]="opt.value"
            [selected]="opt.checked"
          >
            {{ opt.label }}
          </option>
        </select>
        <clr-control-error *ngIf="isInvalid(field.config.name)">{{ field.config.error }}</clr-control-error>
      </clr-select-container>
    </ng-container>

    <ng-container *ngSwitchCase="'textarea'">
      <clr-textarea-container [style.width.%]="field.config.width">
        <label>{{ field.config.label }}</label>
        <textarea clrTextarea [formControlName]="field.config.name"></textarea>
        <clr-control-error *ngIf="isInvalid(field.config.name)">{{ field.config.error }}</clr-control-error>
      </clr-textarea-container>
    </ng-container>

    <ng-container *ngSwitchCase="'hidden'"></ng-container>
    <ng-container *ngSwitchDefault>
      Unable to display form field type {{ field.config.type }}
    </ng-container>
  </ng-container>
</ng-template>
