<overlay-scrollbars #contentScrollbar [options]="options" [events]="events" class="scrollbar">
  <div
    clrFocusOnViewInit
    class="content-component"
    [class.loading-content]="!hasReceivedContent"
  >
    <app-page-not-found *ngIf="notFound; else contentOrLoading"></app-page-not-found>

    <ng-template #contentOrLoading>
      <ng-container *ngIf="hasReceivedContent && !showSpinner; else loading">
        <app-object-tabs
          [title]="title"
          [views]="views"
          [titleComponents]="titleComponents"
        ></app-object-tabs>
      </ng-container>

      <ng-template #loading>
        <span class="spinner">
          Loading...
        </span>
      </ng-template>
    </ng-template>
  </div>
</overlay-scrollbars>
